numpy<2.0
pillow
torch
matplotlib
Scipy
scikit_image
opencv-contrib-python
pymatting
segment_anything
timm
addict
yapf
colour-science
wget
mediapipe
loguru
typer_config
fastapi
rich
google-generativeai
diffusers
omegaconf
tqdm
transformers>=4.38.2
kornia
image-reward
ultralytics
blend_modes
blind-watermark
qrcode
pyzbar
transparent-background
psd-tools
