numpy<2.0
pillow
torch
matplotlib
Scipy
scikit_image
scikit_learn
opencv-contrib-python
pymatting
segment_anything
timm
addict
yapf
colour-science
wget
mediapipe
loguru
typer_config
fastapi
rich
google-generativeai
diffusers
omegaconf
tqdm
kornia
ultralytics>=8.2.0
blend_modes
blind-watermark
qrcode
pyzbar
transparent-background
huggingface_hub>=0.23.4
accelerate>=0.26.0
onnxruntime
torchscale
wandb
psd-tools
hydra-core
protobuf>=3.20.3
inference-cli>=0.13.0
inference-gpu[yolo-world]>=0.13.0
bitsandbytes>=0.41.1
transformers>=4.43.2
peft>=0.12.0
